In [4]:
import pandas as pd

df = pd.read_excel('C:/Users/User/Desktop/SurveyData.xlsx') #Random Generate Data
df

,ID,Name,Age,Gender,Email,Office Location
0,0,Kristin Stanley,25,M,6ign@logitech.com,San Francisco
1,1,Rianna Merrill,45,F,ousmansabir.co.p@logitech.com,Hsinchu
2,2,Huseyin Magana,30,F,isweet.shery.lad6@logitech.com,Hong Kong
3,3,Ezmae Chen,32,M,vsuellem.sa@logitech.com,Hsinchu
4,4,Jamila Connelly,18,F,alanae2@logitech.com,Hong Kong
5,5,Usmaan Castro,27,M,emhamad.amr.3d@logitech.com,San Francisco
6,6,Finbar Torres,50,M,rhacer.redsea.9l@logitech.com,Hsinchu
7,7,Brandan Allman,26,M,hiq.mahmmadr@logitech.com,Hong Kong
8,8,Avani Povey,28,M,xahz@logitech.com,San Francisco
9,9,Isra Vargas,55,M,gfahad.desx@logitech.com,Hsinchu
10,10,Haider Roach,48,M,hayoub.8@logitech.com,Hong Kong
11,11,Kaylen Berg,27,M,udakhanothman6@logitech.com,San Francisco
12,12,Aine Wolf,26,F,aandre-bandm@logitech.com,San Francisco
13,13,Rachelle Coles,28,F,wmohamedr.weemouz@logitech.com,Hong Kong
14,14,Aronas Kane,33,F,hjeta@logitech.com,Hsinchu
15,15,Rogan Gray,37,M,jreal_32c@logitech.com,San Francisco

In [5]:
df.sort_values(by='Name')

,ID,Name,Age,Gender,Email,Office Location
12,12,Aine Wolf,26,F,aandre-bandm@logitech.com,San Francisco
14,14,Aronas Kane,33,F,hjeta@logitech.com,Hsinchu
8,8,Avani Povey,28,M,xahz@logitech.com,San Francisco
7,7,Brandan Allman,26,M,hiq.mahmmadr@logitech.com,Hong Kong
3,3,Ezmae Chen,32,M,vsuellem.sa@logitech.com,Hsinchu
6,6,Finbar Torres,50,M,rhacer.redsea.9l@logitech.com,Hsinchu
10,10,Haider Roach,48,M,hayoub.8@logitech.com,Hong Kong
2,2,Huseyin Magana,30,F,isweet.shery.lad6@logitech.com,Hong Kong
9,9,Isra Vargas,55,M,gfahad.desx@logitech.com,Hsinchu
4,4,Jamila Connelly,18,F,alanae2@logitech.com,Hong Kong
11,11,Kaylen Berg,27,M,udakhanothman6@logitech.com,San Francisco
0,0,Kristin Stanley,25,M,6ign@logitech.com,San Francisco
13,13,Rachelle Coles,28,F,wmohamedr.weemouz@logitech.com,Hong Kong
1,1,Rianna Merrill,45,F,ousmansabir.co.p@logitech.com,Hsinchu
15,15,Rogan Gray,37,M,jreal_32c@logitech.com,San Francisco
5,5,Usmaan Castro,27,M,emhamad.amr.3d@logitech.com,San Francisco

In [6]:
df.sort_values(by=['Age','Gender'])

,ID,Name,Age,Gender,Email,Office Location
4,4,Jamila Connelly,18,F,alanae2@logitech.com,Hong Kong
0,0,Kristin Stanley,25,M,6ign@logitech.com,San Francisco
12,12,Aine Wolf,26,F,aandre-bandm@logitech.com,San Francisco
7,7,Brandan Allman,26,M,hiq.mahmmadr@logitech.com,Hong Kong
5,5,Usmaan Castro,27,M,emhamad.amr.3d@logitech.com,San Francisco
11,11,Kaylen Berg,27,M,udakhanothman6@logitech.com,San Francisco
13,13,Rachelle Coles,28,F,wmohamedr.weemouz@logitech.com,Hong Kong
8,8,Avani Povey,28,M,xahz@logitech.com,San Francisco
2,2,Huseyin Magana,30,F,isweet.shery.lad6@logitech.com,Hong Kong
3,3,Ezmae Chen,32,M,vsuellem.sa@logitech.com,Hsinchu
14,14,Aronas Kane,33,F,hjeta@logitech.com,Hsinchu
15,15,Rogan Gray,37,M,jreal_32c@logitech.com,San Francisco
1,1,Rianna Merrill,45,F,ousmansabir.co.p@logitech.com,Hsinchu
10,10,Haider Roach,48,M,hayoub.8@logitech.com,Hong Kong
6,6,Finbar Torres,50,M,rhacer.redsea.9l@logitech.com,Hsinchu
9,9,Isra Vargas,55,M,gfahad.desx@logitech.com,Hsinchu

In [7]:
df.sort_values(
...     by="Age",
...     ascending=False,
...     kind="mergesort"
... )

,ID,Name,Age,Gender,Email,Office Location
9,9,Isra Vargas,55,M,gfahad.desx@logitech.com,Hsinchu
6,6,Finbar Torres,50,M,rhacer.redsea.9l@logitech.com,Hsinchu
10,10,Haider Roach,48,M,hayoub.8@logitech.com,Hong Kong
1,1,Rianna Merrill,45,F,ousmansabir.co.p@logitech.com,Hsinchu
15,15,Rogan Gray,37,M,jreal_32c@logitech.com,San Francisco
14,14,Aronas Kane,33,F,hjeta@logitech.com,Hsinchu
3,3,Ezmae Chen,32,M,vsuellem.sa@logitech.com,Hsinchu
2,2,Huseyin Magana,30,F,isweet.shery.lad6@logitech.com,Hong Kong
8,8,Avani Povey,28,M,xahz@logitech.com,San Francisco
13,13,Rachelle Coles,28,F,wmohamedr.weemouz@logitech.com,Hong Kong
5,5,Usmaan Castro,27,M,emhamad.amr.3d@logitech.com,San Francisco
11,11,Kaylen Berg,27,M,udakhanothman6@logitech.com,San Francisco
7,7,Brandan Allman,26,M,hiq.mahmmadr@logitech.com,Hong Kong
12,12,Aine Wolf,26,F,aandre-bandm@logitech.com,San Francisco
0,0,Kristin Stanley,25,M,6ign@logitech.com,San Francisco
4,4,Jamila Connelly,18,F,alanae2@logitech.com,Hong Kong

In [8]:
df.sort_values(
...     by=["Age", "Gender", "Office Location"],
...     ascending=[True, True, False]
... )[["Age", "Gender", "Office Location"]]

    Age Gender Office Location
4    18      F       Hong Kong
0    25      M   San Francisco
12   26      F   San Francisco
7    26      M       Hong Kong
5    27      M   San Francisco
11   27      M   San Francisco
13   28      F       Hong Kong
8    28      M   San Francisco
2    30      F       Hong Kong
3    32      M         Hsinchu
14   33      F         Hsinchu
15   37      M   San Francisco
1    45      F         Hsinchu
10   48      M       Hong Kong
6    50      M         Hsinchu
9    55      M         Hsinchu

In [10]:
df.sort_index(axis=1, ascending=False)

,Office Location,Name,ID,Gender,Email,Age
0,San Francisco,Kristin Stanley,0,M,6ign@logitech.com,25
1,Hsinchu,Rianna Merrill,1,F,ousmansabir.co.p@logitech.com,45
2,Hong Kong,Huseyin Magana,2,F,isweet.shery.lad6@logitech.com,30
3,Hsinchu,Ezmae Chen,3,M,vsuellem.sa@logitech.com,32
4,Hong Kong,Jamila Connelly,4,F,alanae2@logitech.com,18
5,San Francisco,Usmaan Castro,5,M,emhamad.amr.3d@logitech.com,27
6,Hsinchu,Finbar Torres,6,M,rhacer.redsea.9l@logitech.com,50
7,Hong Kong,Brandan Allman,7,M,hiq.mahmmadr@logitech.com,26
8,San Francisco,Avani Povey,8,M,xahz@logitech.com,28
9,Hsinchu,Isra Vargas,9,M,gfahad.desx@logitech.com,55
10,Hong Kong,Haider Roach,10,M,hayoub.8@logitech.com,48
11,San Francisco,Kaylen Berg,11,M,udakhanothman6@logitech.com,27
12,San Francisco,Aine Wolf,12,F,aandre-bandm@logitech.com,26
13,Hong Kong,Rachelle Coles,13,F,wmohamedr.weemouz@logitech.com,28
14,Hsinchu,Aronas Kane,14,F,hjeta@logitech.com,33
15,San Francisco,Rogan Gray,15,M,jreal_32c@logitech.com,37